.btn-follow-small{
    padding: 0 1px;
    margin: 0;
    position: relative;
    top: 0px;
    right: 4px;
}

.btn-follow-small img{
    width: 18px;
    height: 18px;
    margin:1px auto -3px auto;
}

small{
    margin-left: 26px;
}